.top-box {
    width: 100%;
    height: 500px;
    background-image: url("../imgs/bimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: Chivo, sans-serif;
    position: relative;  
  }
  
  
  
  .mainTitle {
    justify-content: center;
    text-align: center;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 20%;
  }
  .mainTitle .picAndText{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.oramaNav{
    width: 85%;
    background-color: #C7F1ED;
}
.oramaNav .container-fluid{
    padding-left: 10%;
}
.oramaNav li{
    font-family: Acre, Chivo, sans-serif;
    font-size: larger;
    font-weight: bold;
    padding-right: 3em;
    padding-left: 1em;
}
.oramaNav .sub-nav {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    display: none;
    left: -120px;
    padding: 16px;
    position: absolute;
    top: 100%;
    width: 628px;
}
.oramaNav .sub-nav-col {
    
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}


.oramaNav .sub-nav-box {
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 4px 0;
    min-height: 100px;
    padding: 24px 14px 24px 96px;
    position: relative;
    
}

.oramaNav .left {
    margin-right: 4px;
}

.oramaNav .right {
    margin-left: 4px;
}
  
  .oramaInfoPic {
    color: #424949;
    width: 85%;
    margin: auto;
    font-family: Acre, Chivo, sans-serif;
  }
  
  
  
  .oramaInfoPic li::marker {
    font-size: 2em;
  }
  
  .oramaInfoPic h4 {
    
    font-size: 20px;
  }
  
  .oramaInfoPic ul {
  
    list-style-position: outside;
    padding-left: 1em;
  
  }
  
  .arrowOrama {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .oramaInfoCards {
    justify-content: center;
    color: #424949;
    width: 85%;
    margin: auto;
    position: relative;
    padding: 20px;
  }
  
  .oramaInfoCardTrans {
    justify-content: center;
    color: #424949;
    max-width: 85%;
    margin: auto;
    position: relative;
    padding: 20px;
    
  }
  
  .oramaInfoCardTrans h2 {
    
    font-size: 40px;
    text-align: center;
  }
  .oramaInfoCardTrans .card
  {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  }

  .slideCard-box{
      padding: 100px;
      display: flex;
      justify-content: center;
  }

  .slideCard {
    justify-content: center;
    color: #424949;
    max-width: 85%;
    margin-top:50px;
    position: relative;
    padding: 20px;
    
  }

  .slideCard .card-box
  {
    position: relative;
  }

  .slideCard .card
  {
    max-width: 85%;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
    padding: 20px;
    border-radius: 25px;
  }
  
  .cardNext {
    position: absolute;
    top: 45%;
    left: 97%
  }
  
  .cardPrev {
    position: absolute;
    top: 45%;
    left: 0
  }
  
  
  .react__slick__slider__parent {
    position: relative;
  }
  
  /* the slides */
  .react__slick__slider__parent   .slick-slide>div {
    padding: 0 20px;
  }
  /* the parent */
  .react__slick__slider__parent  .slick-list {
    margin: 0 -5px;
  }
  
  .react__slick__slider__parent .slick-prev,
  .react__slick__slider__parent .slick-next {
    position: absolute;
    top: 50%;
  }
  .react__slick__slider__parent .slick-prev {
    
    color: #ECF0F1;
    z-index: 1;
  }
  .react__slick__slider__parent .slick-next {
    border-radius: 50%;
    color: #ECF0F1;
    z-index: 1;
  }
  
  .react__slick__slider__parent .slick-prev:before, .slick-next:before {
    color: black;
  }
  .cardInfo-box{
    background: #f1eded;
    width: 100%;
    
    position: relative;
    padding:50px;
  }
.cardInfo-content-box{
    width: 85%;
    margin:auto
}

.picGrid-box{
    background: #f1eded;
    width: 100%;
    
    position: relative;
    padding:50px;
  }
.picGrid-box .picGrid-content-box{
    width: 80%;
    margin:auto
}
.picGrid-box .picGrid-content-box .picGrid-title{
    padding: 50px;
}

.orama-timeline-box{
    width: 100%;
    
    position: relative;
    padding:50px;
}

  .oramaFooter-box{
    background: white;
    width: 100%;
    
    position: relative;
    padding:50px;
  }
  .oramaFooter-info-box{
      width: 85%;
      margin: auto;
  }
  .orama-bottom-box{
    
    display:flex;
    padding-top: 20px;
    margin: auto;
    justify-content: center;
  }
  .social-box {
    background: #eee;
    
    position: absolute;
    justify-content: center;
    
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
  }
  
  .wholeContainer{
    justify-content: center;
  }
  
  .oramaInfoPicContainer{
    position: relative;
    align-items: center;
    padding: 100px;
    width: 95%;
    justify-content: center;
    margin:auto;
    display:flex;
  }
  
  .oramaInfoPicContainer .infoWithPic{
      
    position: relative;
    display:flex;
  
  }
  
  .oramaInfoPicContainer .infoWithPic .imgBox{
      display: flex;
      justify-content: center;
      align-items: center;
        
       
  }
  
  .oramaInfoPicContainer .infoWithPic .imgBox img{
    max-width: 90%;
    margin:auto;
  }
  
  .oramaInfoPicContainer .infoWithPic .content-box{
      justify-content: center;
    
    padding: 10px
  }
  .oramaInfoPicContainer .infoWithPic .content{
    justify-content: center;
    max-width: 90%;
    margin: auto;
    padding: 10px
  }
  .oramaInfoPicContainer .infoWithPic .content h1{
    padding-bottom:0.5em;
  }

  .oramaInfoPicContainer .infoWithPic .content h4{
    padding-bottom:0.5em;
  }
  
  @media (max-width: 768px) {
       .oramaInfoPicContainer .infoWithPic {
           flex-direction: column;
           max-width: 95%;
      }
       .oramaInfoPicContainer .infoWithPic .imgBox {
           max-width: 100%;
           margin: auto;
      }
       .oramaInfoPicContainer .infoWithPic .imgBox img {
           min-width: 150px;
           margin: auto;
      }
       .oramaInfoPicContainer .infoWithPic .content-box {
           max-width: 100%;
           margin: auto;
           padding: 5px;
      }
      .oramaInfoPicContainer .infoWithPic .content {
        max-width: 100%;
        margin: auto;
        padding: 5px;
   }
  }
   .oramaTimeline-box {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 0 1rem;
       background: linear-gradient(45deg, #209cff, #68e0cf);
       padding: 3rem 0;
  }
   .oramaTimeline-box ul li {
       list-style: none;
       padding: 0;
  }
   .oramaTimeline {
       background: #eaf6ff;
       padding: 2rem;
       border-radius: 15px;
  }
   .oramaTimeline-ul {
       margin-top: 2rem;
       border-radius: 12px;
       position: relative;
  }
   .oramaTimeline-box li {
       padding-bottom: 1.5rem;
       border-left: 1px solid #abaaed;
       position: relative;
       padding-left: 20px;
       margin-left: 10px;
  }
   .oramaTimeline-box li:last-child {
       border: 0px;
       padding-bottom: 0;
  }
   .oramaTimeline-box li:before {
       content: '';
       width: 15px;
       height: 15px;
       background: white;
       border: 1px solid #4e5ed3;
       box-shadow: 3px 3px 0px #bab5f8;
       box-shadow: 3px 3px 0px #bab5f8;
       border-radius: 50%;
       position: absolute;
       left: -10px;
       top: 0px;
  }
   .oramaEventTitle {
       color: #2a2839;
       font-family: 'Poppins', sans-serif;
       font-weight: 500;
  }
   @media screen and (min-width: 601px) {
       .oramaEventTitle {
           font-size: 0.9rem;
      }
  }
   @media screen and (max-width: 600px) {
       .oramaEventTitle {
           margin-bottom: 0.3rem;
           font-size: 0.85rem;
      }
  }
   .oramaTimeline-box p {
       color: #4f4f4f;
       font-family: sans-serif;
       line-height: 1.5;
       margin-top: 0.4rem;
  }
   @media screen and (max-width: 600px) {
       .oramaTimeline-box p {
           font-size: 0.9rem;
      }
  }
  
  
.timeline-box{
    padding: 100px;
    background-color: white;
}

  .uk-timeline .uk-timeline-item .uk-card{
      max-height: 300px;
      border-radius: 25px;
      background-color: papayawhip;
  }

  .uk-timeline .uk-timeline-item-last .uk-card{
    max-height: 300px;
    border-radius: 25px;
    background-color: beige;
}
  
  .uk-timeline .uk-timeline-item {
      display: flex;
      position: relative;
  }
  
  .uk-timeline .uk-timeline-item::before {
    content: '';
    display: block;
    position: absolute;
    left: 10%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    color: #000;
    background: rgba(83, 5, 5, 0.2);
  }
  
  .uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
        margin-top: 20px;
      width: 20px;
      height: 20px;
  }
  
  .uk-timeline .uk-timeline-item .uk-timeline-content {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0 0 0 1rem;
  }
  
  
  section#timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
  }
  section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    color: #000;
    background: rgba(12, 11, 11, 0.2);
  }
  section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
  }
  section#timeline article:after {
    content: '';
    display: block;
    clear: both;
  }
  section#timeline article div.inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
  }
  section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 60px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    background: #25303B;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 7px #4e565e;
  }
  section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
  }
  section#timeline article div.inner span.date span.day {
    font-size: 10px;
  }
  section#timeline article div.inner span.date span.month {
    font-size: 15x;
  }
  section#timeline article div.inner span.date span.year {
    font-size: 10px;
  }
  section#timeline article div.inner h2 {
    padding: 15px;
    margin: 0;
    color: rgb(173, 145, 145);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
  }
  section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -5px;
      width: 10px; 
      height: 10px;
    -webkit-transform: rotate(-45deg);
  }
  section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
  }
  section#timeline article:nth-child(2n+2) div.inner {
    float: right;
  }
  section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
  }
  section#timeline article:nth-child(1) div.inner h2 {
    background: #e74c3c;
  }
  section#timeline article:nth-child(1) div.inner h2:after {
    background: #e74c3c;
  }
  section#timeline article:nth-child(2) div.inner h2 {
    background: #2ecc71;
  }
  section#timeline article:nth-child(2) div.inner h2:after {
    background: #2ecc71;
  }
  section#timeline article:nth-child(3) div.inner h2 {
    background: #e67e22;
  }
  section#timeline article:nth-child(3) div.inner h2:after {
    background: #e67e22;
  }
  section#timeline article:nth-child(4) div.inner h2 {
    background: #1abc9c;
  }
  section#timeline article:nth-child(4) div.inner h2:after {
    background: #1abc9c;
  }
  section#timeline article:nth-child(5) div.inner h2 {
    background: #9b59b6;
  }
  section#timeline article:nth-child(5) div.inner h2:after {
    background: #9b59b6;
  }

.textOverPic-box{
    position: relative;
    align-items: center;
    
    width: 85%;
    justify-content: center;
    margin:auto;
    display:flex;
    background-image: url("../imgs/bimage2.jpg");
    background-position: center;
    margin-bottom: 100px;
    
}

.textOverPic-box .textOverPic{
    height: 300px;
    
}

.textOverPic .content{
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    font-family: Chivo, sans-serif;
    
    
}

.textOverPic .content h1{
    padding-bottom: 0.5em;
    font-style: italic;
}
.textOverPic .content h4{
    color:gray;
    font-size: 20px;
}